.title {
  font-weight: 500;
  font-size: 22px;
  line-height: 27px;
  color: #7c28f2;
  padding: 16px;
  margin: 16px;
  max-width: 50%;
  width: 50%;
}

.aboutMe {
  height: auto;
  width: 100%;
  padding: 16px 0px;
}

.experience {
  padding: 64px 0px;
}

.experience > h2,
.aboutMe > h2 {
  font-weight: 700;
  font-size: 50px;
  line-height: 63px;
  letter-spacing: 0.01em;
  color: #443d5e;
  margin: 0px 16px;
  padding: 0px 12px;
}

.list,
.grid {
  margin: 16px;
  padding: 32px;
}

.grid {
  display: flex;
  justify-content: space-between;
}

.list {
  text-align: center;
}

.descriptionTexts > p {
  padding: 16px 0px;
  font-weight: 400;
  font-size: 22px;
  line-height: 43px;
  color: rgba(33, 7, 70, 0.65);
}

.descriptionTexts {
  padding: 0px;
  max-width: 600px;
}

.experience > a,
.aboutMe > a {
  display: flex;
  justify-content: center;
  max-width: 200px;
  margin-left: 32px;
}

.point {
  margin-left: 32px;
}

@media only screen and (max-width: 480px) {
  .grid {
    display: block;
    justify-content: space-between;
  }
}
