.page {
  background: url('./images/Main-Banner.svg') top right no-repeat;
  background-size: calc(100% - 54%);
  padding: 0px 32px;
}

@media only screen and (max-width: 480px) {
  .page {
    display: flex;
    background: none;
    flex-direction: column;
  }
}
